body {
    background-image: url('./asset/background.jpg');
    background-size: cover;
}
#LoginForm {
    background-color: aquamarine;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5vh;
    padding-left: 5vw;
    border: aqua;
    border-width: 20px;
    border-radius: 6cm;
    border-style: ridge;
}
#RegisterForm {
    background-color: orange;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5vh;
    padding-left: 5vw;
    border: orangered;
    border-width: 20px;
    border-radius: 4cm;
    border-style: ridge;
}

#ProjectsBar {
    text-align: center;
}
#MemberList{
    text-align: center;
}

#Todos {
    text-align: center;
   
}
#TodoTable {
    width: 50vw;
    text-align: center;
    align-items: center;
    border-style: ridge;
    margin-left: 25vw;
    margin-right: 25vw;
    border: 1px solid black;
    justify-content: space-between;

}
table, th, td {
    border: 1px solid black;
  }

.nav-item :hover{
    cursor: pointer;
}

#Home :hover {
    cursor: pointer;
}