body {
    background-image: url('./asset/background.jpg');
    background-size: cover;
}
#LoginForm {
    background-color: aquamarine;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5vh;
    padding-left: 5vw;
    border: aqua;
    border-width: 20px;
    border-radius: 6cm;
    border-style: ridge;
}
#RegisterForm {
    background-color: orange;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5vh;
    padding-left: 5vw;
    border: orangered;
    border-width: 20px;
    border-radius: 4cm;
    border-style: ridge;
}

#ProjectsBar {
    text-align: center;
}
#MemberList{
    text-align: center;
}

#Todos {
    margin-left: 45%;
   
}
#TodoTable {
    width: 50vw;
    text-align: center;
    align-items: center;
    border-style: ridge;
    border: 1px solid black;
    justify-content: space-between;
    height: 25vh;
    overflow: scroll;
    

}
table, th, td {
    border: 1px solid black;
  }

.nav-item :hover{
    cursor: pointer;
}

#Home :hover {
    cursor: pointer;
}

#CreateTodo {
    text-align: center;
    margin-bottom: 20px;

}
#UpdateTodo {
    text-align: center;

}
#MembersList {
    text-align: center;
    border: black;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    width: 19vw;
    
}
#MemberList {
    width: 20vw;
    overflow: scroll;
    
}
#MainBody{
    margin-left: 40%;
}
#addf{
    margin-left: 5%;
}
#TodoBody{
    height: 30vh;
    overflow: scroll;
}
#todoBox{
    width: 65vw;
    margin-left: 25vw;
    margin-right: 20vw;
    padding-right: 0;
    height: 30vh;
    overflow: auto;
    margin-bottom: auto;
}