*{
    margin:0;
    padding: 0;
}
/*
---------------------------ini login page----------------------------------------------
*/
body{
    background-color: rgb(43, 71, 71);
}
.loginPage {
    background-color:rgb(43, 71, 71);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color:rgb(97, 185, 185) ;
    min-width: 20vw ;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#h1fancytodo{
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 500%;
}
.loginCardAll{

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}
.divH1Login{
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
#login input[type=email]{
    min-width: 150%;
}
#login input[type=password]{
    min-width: 150%;
}
#login input[type=submit]{
    min-width: 150%;
}
#login button{
    min-width: 150%;
}
.loginPageCard{
    background-color: rgba(238, 245, 247, 0.9);
    min-width: 30vw ;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#h1Login{
    color: rgb(8, 8, 8);
    font-size: 500% ;
}

/*
---------------------------ini login page----------------------------------------------
*/
/*
---------------------------ini resister page----------------------------------------------
*/

.registerPage {
    background-color:rgb(43, 71, 71);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCardAll{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}
#register{
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
#register input[type=email]{
    min-width: 150%;
    min-height: 20%;
    margin-bottom: 5%;
}
#register input[type=password]{
    min-width: 150%;
    min-height: 20%;
    margin-bottom: 5%;
}
#register input[type=submit]{
    min-width: 150%;
    min-height: 20%;
    margin-bottom: 5%;
}
.registerPageCard{
    background-color: rgba(238, 245, 247, 0.9);
    min-width: 30vw ;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#h1Register{
    color: rgb(8, 8, 8);
    font-size: 500% ;
}

/*
---------------------------ini resister page----------------------------------------------
*/

.todoList{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
}
#titleTodoList {
    
    background-color: rgba(197, 245, 247, 0.9);
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#descriptionTodoList {
    background-color: rgba(197, 245, 247, 0.9);
    min-width: 20vw;
    max-width: 20vw;
    display: inline-table;
}
#statusTodoList {
    background-color: rgba(197, 245, 247, 0.9);
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#duedateTodoList {
    background-color: rgba(197, 245, 247, 0.9);
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#actionTodoList {
    background-color: rgba(197, 245, 247, 0.9);
    min-width: 20vw;
    max-width: 20vw;
    display: inline-table;
}

#titleHeadTodo{
    font-size: 150%;
    background-color: turquoise;
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#descriptionHeadTodo {
    font-size: 150%;
    background-color: turquoise;
    min-width: 20vw;
    max-width: 20vw;
    display: inline-table;
}
#duedateHeadTodo {
    font-size: 150%;
    background-color: turquoise;
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#statusHeadTodo {
    font-size: 150%;
    background-color: turquoise;
    min-width: 10vw;
    max-width: 10vw;
    display: inline-table;
}
#actionHeadTodo {
    font-size: 150%;
    background-color: turquoise;
    min-width: 20vw;
    max-width: 20vw;
    display: inline-table;
}

.mainPage{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#TODOLISTH1{
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    color: whitesmoke;
}

.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-body{
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    min-height: 50%;
    border-radius: 3%;
    box-shadow: 10px 10px;
}
.modal-title{
    font-family: 'Dancing Script', cursive;
    color: rgba(161, 35, 35, 0.904);
    font-size: 350%;
}
.updatePage{
    background-color: rgb(97, 185, 185) ;;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-body{
    background-color: rgb(250, 250, 250);
    min-width: 30%;
    min-height: 50%;
    border-radius: 3%;
    box-shadow: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formUpdate{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#h1UpdateTodo{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: rgba(161, 35, 35, 0.904);
}

/*mainpage*/

.navbar{
    display: flex;
    background-color: rgb(161, 198, 253);
    margin: 0;
    justify-content: flex-end ;
    width: 100vw;
    min-height: 5vh;
    align-items: center;
    position: fixed;
    top: 0;
}
#listNavbar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.cuaca{
    background-color: rgba(245, 245, 245, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: 3px 3px 3px 3px #ccc;
}
.mb-3{
    display: flex;
    flex-direction: column;
}
.news-content{
    max-width: 100vw !important;
    max-height:100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.article-news{
    height: 50%;
    margin-top: 1%;
    overflow: scroll;
}
.card-news{
    background-color: rgba(233, 233, 233, 0.7);
    margin: 30px !important;
    width: 250px;
    height: 350px;
    margin-left: 20%;
    margin-right: 20%;
    /* background-color: gray; */
}
.newsPage{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}
.loading{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50%;
}
/* The Modal (background) */
.modaldelete {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modaldelete-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }