.jumbotron {
    background-image: url(img/bg-jumbotron.jpg);
    background-size: cover;
    text-align: center;
    align-content: center;

    height: 800px;
}

.jumbotron hr {
    width: 100px;
}

.formPage{
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 10%;
    background-image: url(img/bg-main.jpg);
}

.col-md-6 > h3{
    margin-top: 0px;
}

.g-signin2 > div {
    margin : 0 auto;
}

.divTable{
    margin: 20px 0;
}

.col-md-6{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.mainPage {
    background-image: url(img/bg-jumbotron.jpg);
    background-size: cover;
    text-align: center;
}

.backBtn {
    text-align: left;
}

